[Unit]
Description=BlockPenn Device Script
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ubuntu/blockpenn-python
Environment="OPENSSL_CONF=/home/ubuntu/blockpenn-python/openssl.cnf"
ExecStart=/home/ubuntu/bpenv/bin/python3 /home/ubuntu/blockpenn-python/iot_sensor_publish_v2.py

[Install]
WantedBy=multi-user.target