[Unit]
Description=BlockPenn Sensor Reading
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=30

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
ExecStart=/usr/bin/python3 /home/ubuntu/blockpenn-python/sensor_start.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target